@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #1a1a1a;
    font-family: "Poppins",sans-serif;
}
/*promo*/
.header{
    background: #1a1a1a;
    height: 2%;
    color: #fafafa;
}
.header p{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
/*nav_search*/
.nav{
    display: flex;
    width: 100%;
    background: #0096fa;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 0px ;
}
.menu_button{
    display:none;
    list-style: none;
    margin: 0 0 0 20px;
}
.logo{
    width: 133px;
    height: 103px;
    margin-right: 550px;
}
.nav .search_box{
    display: flex;
    margin: 35px 40px 0 0;
    width: 50%;
    height: 35px;
    line-height: 35px;
}
.nav .search_box input{
    border: none;
    outline: none;
    display: block;
	grid-area: search;
	-webkit-appearance: none;
	appearance: none;
	width: 60%;
	height: 100%;
	padding: 0 30px 0 60px;
	border-radius: 100px;
	font: 18px/1 "Poppins", sans-serif;
    background: #3a3a3a;
    color: #ffffffa8;
}
.nav .search_box a{
    color: #fafafa;
    font-size: 20px;
    background: #d1cbcb;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: auto;
}
.nav .icon{
    display: flex;
    height: 115px;
    width: 115px;
    fill: #0e0e0e;
}
/*nav_bar*/
.type{
    display: flex;
    width: 100%;
    background: #3a3a3a;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 0 0 5px 0;
    font-size: 15px;
}
.type .ul_bar{
    display: flex;
    list-style: none;
    margin: auto 0;
}
.type .ul_bar li{
    margin: 0 2px;
}
.type ul li a{
    position: relative;
    font-size: 1.1em;
    color: #fafafa;
    text-decoration: none;
    font-weight: 800;
    margin-left: 135px;
    text-align: center;
}
.type ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #0096fa;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: .5s;
}
.type ul li a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #3a3a3a83;
    backdrop-filter: blur(10px);
    box-shadow: 0 14px 28px rgb(#e7e5e5),
    0 10px 10px rgb(#d4d4d4);
    display: none;
    list-style: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.sidebar li {
    font-size: 8px;
    padding: 20px 0 0 50px;
    margin-right: 20px;
}
h1{
    color: #fafafa;
    font-size: 30px;
    margin-left: 15px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 50px 0;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgb(#d1cbcb),
    0 10px 10px rgb(#b1b1b1);
    transition: .4s;
    background: #3a3a3a;
}
.content:hover{
    box-shadow: 0 3px 6px rgb(102, 102, 102),
    0 3px 6px rgb(119, 119, 119);
    transform: translate(0px,-8px);
}
img{
    width: 250px;
    height: 350px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}
h3{
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding-top: 10px;
    color: #fafafa;
    text-decoration: none;
}
p{
    text-align: center;
    color: #fafafa;
    padding-top: 0 8px;
    text-decoration: none;
}
h6{
   font-size: 19px;
   text-align: center;
   color: #fafafa;
   margin: 0; 
   text-decoration: none;
}
.buy{
    font-family: "Poppins",sans-serif;
    text-align: center;
    font-size: 24px;
    color: #fafafa;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px ;
    background: #3a3a3a;
    border: #fafafa solid;
    transition: .5s;
}
.buy:hover{
    background: #fafafa;
    color: #3a3a3a;
}


.products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: none;
    align-items: center;
    justify-content: center;
 }
 
 .products-preview .preview{
    display: none;
    padding:2rem;
    text-align: center;
    background: #3a3a3a;
    position: relative;
    margin:2rem;
    width: 40rem;
    border-radius: 50px;
 }
 
 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    box-shadow: 0 4px 10px 0 rgb(90, 90, 90), 0 6px 20px 0 rgb(90, 90, 90) ;
    border-radius: 8px;
 }
 .products-preview .preview h3{
    color: #fafafa;
    padding:.5rem 0;
    font-size: 2.5rem;
 }
 
 .products-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
    color:#0096fa;
 }
 
 .products-preview .preview .stars span{
    color:#0096fa;
 }
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#fafafa;
 }
 
 .products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#fafafa;
    font-weight: bold;
 }
 
 .products-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#fafafa;
    border:.1rem solid #3a3a3a;
    border-radius: 50px;
    background: #0e0e0e;
    text-decoration: none;
 }
 
 .products-preview .preview .buttons a.check{
    background: #fafafa;
    color: #3a3a3a;
    }
.products-preview .preview .buttons a.check:hover{
    background: #0e0e0e;
    color:#fafafa ;
    }
.products-preview .preview .buttons a.kshopping:hover{
    background:#fafafa;
    color: #3a3a3a;
    }


footer{
    background: #0e0e0e;
}
.footerContainer{
    width: 100%;
    padding: 0.2px;
}
.footerContainer h2{
    color: #fafafa;
    font-weight: bold;
    text-align: center;
}
.footerNav{
    margin: 30px 0;    
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footerNav ul li a{
    color: #fafafa;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 1;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    text-decoration: underline;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a img{
    width: 40px;
    height: 40px;
}
.footerBottom{
    background-color: #0e0e0e;
    color: #fafafa;
    padding: 0 12px 0 0;
}
.footerBottom p{
    text-align: center;
    font-size: 12px;
    margin-right: 2px;
    margin: 20px 0 10px 0;
}


/*110%*/
@media (max-width: 1536px){
    .logo{
        width: 100px;
        height: 70px;
        margin: 20px 450px 20px 20px;
    }
    .nav .search_box{
        display: flex;
        margin: auto 0;
        width: 45%;
        height: 35px;
        line-height: 30px;
    }
    .nav .search_box input{
        border: none;
        outline: none;
        display: block;
        grid-area: search;
        -webkit-appearance: none;
        appearance: none;
        width: 60%;
        height: 100%;
        padding: 0 0 0 60px;
        border-radius: 100px;
        font: 15px/1 "Poppins", sans-serif;
        background: #3a3a3a;
        color: #ffffffa8;
    }
    .nav .search_box ::placeholder{
        color: #ffffff4f;
        font-size: 15px;
        height: 100%;
        padding: 0 10px 0 0;
        position: relative;
        cursor: pointer;
        z-index: auto;
    }
    .nav .icon{
        display: flex;
        height: 100px;
        width: 100px;
        margin: 10px 0 0 0;
    }
    .type{
        display: flex;
        width: 100%;
        background: #3a3a3a;
        position: relative;
        justify-content: space-between;
        text-align: center;
        padding: 0 0 5px 0;
        font-size: 13px;
    }
    .type ul li a{
        position: relative;
        font-size: 1.1em;
        color: #fafafa;
        text-decoration: none;
        font-weight: 800;
        margin-left: 125px;
        text-align: center;
    }
    .content{
        width: 30%;
    }
    .footerNav ul li a{
        color: #fafafa;
        margin: 20px;
        text-decoration: none;
        font-size: 1.2em;
        opacity: 1;
        transition: 0.5s;
    }
    .socialIcons{
        display: flex;
        justify-content: center;
    }
    .socialIcons a{
        text-decoration: none;
        padding: 5px;
        margin: 10px;
        border-radius: 50%;
    }
    .socialIcons a img{
        width: 38px;
        height: 38px;
    }
    .footerBottom{
        background-color: #0e0e0e;
        color: #fafafa;
        padding: 0 12px 0 0;
    }
    .footerBottom p{
        color: #fafafa;
        margin: 20px 0 10px 0;
    }
}



/*125%*/
@media (max-width: 1390px){
    .logo{
        width: 95px;
        height: 65px;
        margin: 14px 440px 0 20px;
    }
    .nav{
        display: flex;
        width: 100%;
        height: 90px;
        background: #0096fa;
        position: relative;
        justify-content: space-between;
        text-align: center;
        padding: 0px ;
    }
    .nav .search_box{
        display: flex;
        margin:35px 40px 0 0;
        width: 45%;
        height: 33px;
        line-height: 30px;
    }
    .nav .search_box input{
        border: none;
        outline: none;
        display: block;
        grid-area: search;
        -webkit-appearance: none;
        appearance: none;
        width: 60%;
        height: 100%;
        padding: 0 0 0 40px;
        border-radius: 100px;
        font: 13.7px/1 "Poppins", sans-serif;
        background: #3a3a3a;
        color: #ffffffa8;
    }
    .nav .search_box ::placeholder{
        color: #ffffff4f;
        font-size: 13.7px;
        height: 100%;
        padding: 0 10px 0 0;
        position: relative;
        cursor: pointer;
        z-index: auto;
    }
    .nav .icon{
        display: flex;
        height: 95px;
        width: 95px;
        margin: 5px 0 0 0;
    }
    .type{
        display: flex;
        width: 100%;
        background: #3a3a3a;
        position: relative;
        justify-content: space-between;
        text-align: center;
        padding: 0 0 5px 0;
        font-size: 11.5px;
    }
    .type ul li a{
        position: relative;
        color: #fafafa;
        text-decoration: none;
        font-weight: 800;
        margin-left: 110px;
        text-align: center;
    }
    .content{
        width: 30%;
    }
    .footerNav ul li a{
        color: #fafafa;
        margin: 20px;
        text-decoration: none;
        font-size: 1.1em;
        opacity: 1;
        transition: 0.5s;
    }
    .socialIcons a img{
        width: 35px;
        height: 35px;
    }
    .footerBottom p{
        color: #fafafa;
        margin: 20px 0 10px 0;
    }
}




/*150%*/
@media (max-width: 1288px){
    .header p{
        font-size: 10px;
        font-weight: 300;
        text-align: center;
    }
    .logo{
        width: 85px;
        height: 55px;
        margin: 10px 380px 0 15px;
    }
    .nav{
        display: flex;
        width: 100%;
        height: 75px;
        background: #0096fa;
        position: relative;
        justify-content: space-between;
        text-align: center;
    }
    .nav .search_box{
        display: flex;
        margin:27px 40px 0 0;
        width: 45%;
        height: 33px;
        line-height: 30px;
    }
    .nav .search_box input{
        border: none;
        outline: none;
        display: block;
        grid-area: search;
        -webkit-appearance: none;
        appearance: none;
        width: 60%;
        height: 80%;
        padding: 0 0 0 30px;
        border-radius: 100px;
        font: 12px/1 "Poppins", sans-serif;
        background: #3a3a3a;
        color: #ffffffa8;
    }
    .nav .search_box ::placeholder{
        color: #ffffff4f;
        font-size: 12px;
        height: 100%;
        padding: 0 10px 0 0;
        position: relative;
        cursor: pointer;
        z-index: auto;
    }
    .nav .icon{
        display: flex;
        height: 85px;
        width: 85px;
        margin: 0 0 5px 0;
    }
    .type{
        display: flex;
        width: 100%;
        background: #3a3a3a;
        position: relative;
        justify-content: space-between;
        text-align: center;
        padding: 0 0 5px 0;
        font-size: 10px;
    }
    .type ul li a{
        position: relative;
        color: #fafafa;
        text-decoration: none;
        font-weight: 800;
        margin-left: 90px;
        text-align: center;
    }
    .content{
        width: 30%;
    }
    .footerNav ul li a{
        color: #fafafa;
        margin: 20px;
        text-decoration: none;
        font-size: 1.1em;
        opacity: 1;
        transition: 0.5s;
    }
    .socialIcons a img{
        width: 35px;
        height: 35px;
    }
    .footerBottom p{
        margin: 15px 0 10px 0;
    }
}



/*175%*/
@media(max-width:1024px){
    .menu_button{
        display: block;
        margin: -14px 0 0 10px;
    }
    .logo{
        width: 75px;
        height: 53px;
        margin: 10px 300px 0 -9px;
    }
    .nav{
        display: flex;
        width: 100%;
        height: 70px;
        background: #0096fa;
        position: relative;
        justify-content: space-between;
        text-align: center;
        padding: 0px ;
    }
    .nav .search_box{
        display: flex;
        margin: 27px 40px 0 0;
        width: 45%;
        height: 27px;
        line-height: 35px;
    }
    .nav .search_box input{
        border: none;
        outline: none;
        display: block;
        grid-area: search;
        -webkit-appearance: none;
        appearance: none;
        width: 60%;
        height: 70%;
        padding: 0 0 0 30px;
        border-radius: 100px;
        font: 10px/1 "Poppins", sans-serif;
        background: #3a3a3a;
        color: #ffffffa8;
    }
    .nav .search_box ::placeholder{
        color: #ffffff4f;
        font-size: 10px;
        height: 100%;
        padding: 0 10px 0 0;
        position: relative;
        cursor: pointer;
        z-index: auto;
    }
    .nav .icon{
        display: flex;
        height: 70px;
        width: 70px;
        margin: 0 0 5px 0;
    }
    .hideOnMobile{
        display: none;
    }
    .content{
        width: 45%;
    }
    .footerNav h2{
        text-align: center;
        font-size: 14px;
    }
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px 0 10px 0;
    }
}


/*200%*/
@media(max-width:868px){
    .menu_button{
        margin: -22px 0 0 5px;
    }
    .logo{
        width: 65px;
        height: 38px;
        margin: 10px 250px 0 -30px;
    }
    .nav{
        display: flex;
        width: 100%;
        height: 60px;
        background: #0096fa;
        position: relative;
        justify-content: space-between;
        text-align: center;
        padding: 0px ;
    }
    .nav .search_box{
        display: flex;
        margin: auto 0;
        width: 35%;
        height: 25px;
        line-height: 35px;
    }
    .nav .search_box input{
        border: none;
        outline: none;
        display: block;
        grid-area: search;
        -webkit-appearance: none;
        appearance: none;
        width: 60%;
        height: 70%;
        padding: 0 0 0 30px;
        border-radius: 100px;
        font: 8px/1 "Poppins", sans-serif;
        background: #3a3a3a;
        color: #ffffffa8;
    }
    .nav .search_box ::placeholder{
        color: #ffffff4f;
        font-size: 8px;
        height: 100%;
        padding: 0 10px 5px 0;
        position: relative;
        cursor: pointer;
        z-index: auto;
    }
    .nav .icon{
        display: flex;
        height: 50px;
        width: 50px;
        margin: 5px 0 0 0;
    }
    .content{
        width: 65%;
    }
    .footerNav h2{
        text-align: center;
        font-size: 14px;
    }
}
@media (max-width: 648px){
    .sidebar{
        width: 20%;
    }
    .content{
        width: 80%;
    }
    .footerNav h2{
        text-align: center;
        font-size: 14px;
    }
}