@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #1a1a1a;
    font-family: "Poppins",sans-serif;
}
/*promo*/
.header{
    background: #1a1a1a;
    height: 2%;
    color: #fafafa;
}
.header p{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
/*nav_search*/
.nav{
    display: flex;
    width: 100%;
    background: #0096fa;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 0px ;
}
.menu_button{
    display:none;
    list-style: none;
    margin: 0 0 0 20px;
}
.logo{
    width: 133px;
    height: 103px;
    margin-right: 550px;
}
.nav .search_box{
    display: flex;
    margin: 35px 40px 0 0;
    width: 50%;
    height: 35px;
    line-height: 35px;
}
.nav .search_box input{
    border: none;
    outline: none;
    display: block;
	grid-area: search;
	-webkit-appearance: none;
	appearance: none;
	width: 60%;
	height: 100%;
	padding: 0 30px 0 60px;
	border-radius: 100px;
	font: 18px/1 "Poppins", sans-serif;
    background: #3a3a3a;
    color: #ffffffa8;
}
.nav .search_box a{
    color: #fafafa;
    font-size: 20px;
    background: #d1cbcb;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: auto;
}
.nav .icon{
    display: flex;
    height: 115px;
    width: 115px;
    fill: #0e0e0e;
}
/*nav_bar*/
.type{
    display: flex;
    width: 100%;
    background: #3a3a3a;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 0 0 5px 0;
    font-size: 15px;
}
.type .ul_bar{
    display: flex;
    list-style: none;
    margin: auto 0;
}
.type .ul_bar li{
    margin: 0 2px;
}
.type ul li a{
    position: relative;
    font-size: 1.1em;
    color: #fafafa;
    text-decoration: none;
    font-weight: 800;
    margin-left: 135px;
    text-align: center;
}
.type ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #0096fa;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: .5s;
}
.type ul li a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #3a3a3a83;
    backdrop-filter: blur(10px);
    box-shadow: 0 14px 28px rgb(#e7e5e5),
    0 10px 10px rgb(#d4d4d4);
    display: none;
    list-style: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.sidebar li {
    font-size: 8px;
    padding: 20px 0 0 50px;
    margin-right: 20px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}
.wrapper{
    width: 420px;
    background: #3a3a3a;
    border: 2px solid #1a1a1a;
    color: #fafafa;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper img{
    width: 100px;
    height: 80px;
    padding: 0 0 0 155px;
}
.wrapper h2{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    outline: none;
    border: 2px solid #3a3a3a ;
    border-radius: 10px;
    font-size: 16px;
    color: #ffffffa8;
    padding: 3px 10px 3px 6px;
}
.input-box input::placeholder{
    color: #fafafa;
    padding: 0 0 0 6px;
    font-family: "Poppins",sans-serif;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #fafafa;
    margin-right: 3px;
}
.remember-forgot a{
    color: #0096fa;
    text-decoration: none;
    font-weight: 600;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #0096fa;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fafafa;
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: #0096fa;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
footer{
    background: #0e0e0e;
}
.footerContainer{
    width: 100%;
    padding: 0.2px;
}
.footerContainer h2{
    color: #fafafa;
    font-weight: bold;
    text-align: center;
}
.footerNav{
    margin: 30px 0;    
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footerNav ul li a{
    color: #fafafa;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 1;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    text-decoration: underline;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a img{
    width: 40px;
    height: 40px;
}
.footerBottom{
    background-color: #0e0e0e;
    color: #fafafa;
    padding: 0 12px 0 0;
}
.footerBottom p{
    text-align: center;
    font-size: 12px;
    margin-right: 2px;
    margin: 20px 0 10px 0;
}
/*110%*/
@media (max-width: 1536px){
    .logo{
        width: 100px;
        height: 70px;
        margin: 20px 450px 20px 20px;
    }
    .nav .search_box{
        display: flex;
        margin: auto 0;
        width: 45%;
        height: 35px;
        line-height: 30px;
    }
    .nav .search_box input{
        border: none;
        outline: none;
        display: block;
        grid-area: search;
        -webkit-appearance: none;
        appearance: none;
        width: 60%;
        height: 100%;
        padding: 0 0 0 60px;
        border-radius: 100px;
        font: 15px/1 "Poppins", sans-serif;
        background: #3a3a3a;
        color: #ffffffa8;
    }
    .nav .search_box ::placeholder{
        color: #ffffff4f;
        font-size: 15px;
        height: 100%;
        padding: 0 10px 0 0;
        position: relative;
        cursor: pointer;
        z-index: auto;
    }
    .nav .icon{
        display: flex;
        height: 100px;
        width: 100px;
        margin: 10px 0 0 0;
    }
    .type{
        display: flex;
        width: 100%;
        background: #3a3a3a;
        position: relative;
        justify-content: space-between;
        text-align: center;
        padding: 0 0 5px 0;
        font-size: 13px;
    }
    .type ul li a{
        position: relative;
        font-size: 1.1em;
        color: #fafafa;
        text-decoration: none;
        font-weight: 800;
        margin-left: 125px;
        text-align: center;
    }
    .content{
        width: 30%;
    }
    .footerNav ul li a{
        color: #fafafa;
        margin: 20px;
        text-decoration: none;
        font-size: 1.2em;
        opacity: 1;
        transition: 0.5s;
    }
    .socialIcons{
        display: flex;
        justify-content: center;
    }
    .socialIcons a{
        text-decoration: none;
        padding: 5px;
        margin: 10px;
        border-radius: 50%;
    }
    .socialIcons a img{
        width: 38px;
        height: 38px;
    }
    .footerBottom{
        background-color: #0e0e0e;
        color: #fafafa;
        padding: 0 12px 0 0;
    }
    .footerBottom p{
        color: #fafafa;
        margin: 20px 0 10px 0;
    }
}



/*125%*/
@media (max-width: 1390px){
    .logo{
        width: 95px;
        height: 65px;
        margin: 14px 440px 0 20px;
    }
    .nav{
        display: flex;
        width: 100%;
        height: 90px;
        background: #0096fa;
        position: relative;
        justify-content: space-between;
        text-align: center;
        padding: 0px ;
    }
    .nav .search_box{
        display: flex;
        margin:35px 40px 0 0;
        width: 45%;
        height: 33px;
        line-height: 30px;
    }
    .nav .search_box input{
        border: none;
        outline: none;
        display: block;
        grid-area: search;
        -webkit-appearance: none;
        appearance: none;
        width: 60%;
        height: 100%;
        padding: 0 0 0 40px;
        border-radius: 100px;
        font: 13.7px/1 "Poppins", sans-serif;
        background: #3a3a3a;
        color: #ffffffa8;
    }
    .nav .search_box ::placeholder{
        color: #ffffff4f;
        font-size: 13.7px;
        height: 100%;
        padding: 0 10px 0 0;
        position: relative;
        cursor: pointer;
        z-index: auto;
    }
    .nav .icon{
        display: flex;
        height: 95px;
        width: 95px;
        margin: 5px 0 0 0;
    }
    .type{
        display: flex;
        width: 100%;
        background: #3a3a3a;
        position: relative;
        justify-content: space-between;
        text-align: center;
        padding: 0 0 5px 0;
        font-size: 11.5px;
    }
    .type ul li a{
        position: relative;
        color: #fafafa;
        text-decoration: none;
        font-weight: 800;
        margin-left: 110px;
        text-align: center;
    }
    .content{
        width: 30%;
    }
    .footerNav ul li a{
        color: #fafafa;
        margin: 20px;
        text-decoration: none;
        font-size: 1.1em;
        opacity: 1;
        transition: 0.5s;
    }
    .socialIcons a img{
        width: 35px;
        height: 35px;
    }
    .footerBottom p{
        color: #fafafa;
        margin: 20px 0 10px 0;
    }
}




/*150%*/
@media (max-width: 1288px){
    .header p{
        font-size: 10px;
        font-weight: 300;
        text-align: center;
    }
    .logo{
        width: 85px;
        height: 55px;
        margin: 10px 380px 0 15px;
    }
    .nav{
        display: flex;
        width: 100%;
        height: 75px;
        background: #0096fa;
        position: relative;
        justify-content: space-between;
        text-align: center;
    }
    .nav .search_box{
        display: flex;
        margin:27px 40px 0 0;
        width: 45%;
        height: 33px;
        line-height: 30px;
    }
    .nav .search_box input{
        border: none;
        outline: none;
        display: block;
        grid-area: search;
        -webkit-appearance: none;
        appearance: none;
        width: 60%;
        height: 80%;
        padding: 0 0 0 30px;
        border-radius: 100px;
        font: 12px/1 "Poppins", sans-serif;
        background: #3a3a3a;
        color: #ffffffa8;
    }
    .nav .search_box ::placeholder{
        color: #ffffff4f;
        font-size: 12px;
        height: 100%;
        padding: 0 10px 0 0;
        position: relative;
        cursor: pointer;
        z-index: auto;
    }
    .nav .icon{
        display: flex;
        height: 85px;
        width: 85px;
        margin: 0 0 5px 0;
    }
    .type{
        display: flex;
        width: 100%;
        background: #3a3a3a;
        position: relative;
        justify-content: space-between;
        text-align: center;
        padding: 0 0 5px 0;
        font-size: 10px;
    }
    .type ul li a{
        position: relative;
        color: #fafafa;
        text-decoration: none;
        font-weight: 800;
        margin-left: 90px;
        text-align: center;
    }
    .content{
        width: 30%;
    }
    .footerNav ul li a{
        color: #fafafa;
        margin: 20px;
        text-decoration: none;
        font-size: 1.1em;
        opacity: 1;
        transition: 0.5s;
    }
    .socialIcons a img{
        width: 35px;
        height: 35px;
    }
    .footerBottom p{
        margin: 15px 0 10px 0;
    }
}



/*175%*/
@media(max-width:1024px){
    .menu_button{
        display: block;
        margin: -14px 0 0 10px;
    }
    .logo{
        width: 75px;
        height: 53px;
        margin: 10px 300px 0 -13px;
    }
    .nav{
        display: flex;
        width: 100%;
        height: 70px;
        background: #0096fa;
        position: relative;
        justify-content: space-between;
        text-align: center;
        padding: 0px ;
    }
    .nav .search_box{
        display: flex;
        margin: 27px 40px 0 0;
        width: 45%;
        height: 27px;
        line-height: 35px;
    }
    .nav .search_box input{
        border: none;
        outline: none;
        display: block;
        grid-area: search;
        -webkit-appearance: none;
        appearance: none;
        width: 60%;
        height: 70%;
        padding: 0 0 0 30px;
        border-radius: 100px;
        font: 10px/1 "Poppins", sans-serif;
        background: #3a3a3a;
        color: #ffffffa8;
    }
    .nav .search_box ::placeholder{
        color: #ffffff4f;
        font-size: 10px;
        height: 100%;
        padding: 0 10px 0 0;
        position: relative;
        cursor: pointer;
        z-index: auto;
    }
    .nav .icon{
        display: flex;
        height: 70px;
        width: 70px;
        margin: 0 0 5px 0;
    }
    .hideOnMobile{
        display: none;
    }
    .content{
        width: 45%;
    }
    .footerNav h2{
        text-align: center;
        font-size: 14px;
    }
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px 0 10px 0;
    }
}


/*200%*/
@media(max-width:868px){
    .menu_button{
        margin: -22px 0 0 5px;
    }
    .logo{
        width: 65px;
        height: 38px;
        margin: 10px 250px 0 -30px;
    }
    .nav{
        display: flex;
        width: 100%;
        height: 60px;
        background: #0096fa;
        position: relative;
        justify-content: space-between;
        text-align: center;
        padding: 0px ;
    }
    .nav .search_box{
        display: flex;
        margin: auto 0;
        width: 35%;
        height: 25px;
        line-height: 35px;
    }
    .nav .search_box input{
        border: none;
        outline: none;
        display: block;
        grid-area: search;
        -webkit-appearance: none;
        appearance: none;
        width: 60%;
        height: 70%;
        padding: 0 0 0 30px;
        border-radius: 100px;
        font: 8px/1 "Poppins", sans-serif;
        background: #3a3a3a;
        color: #ffffffa8;
    }
    .nav .search_box ::placeholder{
        color: #ffffff4f;
        font-size: 8px;
        height: 100%;
        padding: 0 10px 5px 0;
        position: relative;
        cursor: pointer;
        z-index: auto;
    }
    .nav .icon{
        display: flex;
        height: 50px;
        width: 50px;
        margin: 5px 0 0 0;
    }
    .content{
        width: 65%;
    }
    .footerNav h2{
        text-align: center;
        font-size: 14px;
    }
}